[Unit]
Description=Cloud backup: %i
After=network-online.target
OnFailure=notify-failure@%n.service

[Service]
Type=oneshot
ExecStart=%h/.bin/backup.sh %i
