[Unit]
Description=KeePass Database Backup
After=network-online.target
OnFailure=notify-failure@%n.service

[Service]
Type=oneshot
ExecStart=%h/.bin/keepass-backup.sh
