[Unit]
Description=WTF Backup
After=network-online.target
OnFailure=notify-failure@%n.service

[Service]
Type=oneshot
ExecStart=%h/.bin/wtf-backup.sh
