@import "../colors/tokyo-night.css";

* {
    border: none;
    border-radius: 12px;
    font-family: "DM Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    min-width: 10px;
}

window#waybar {
    background-color: @bg0;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.22);
}

tooltip {
    background-color: @bg0;
    border: 1px solid @blue;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 8px 12px;
    font-size: 14px;
}

.modules-left {
    margin-left: 20px;
}

.modules-right {
    margin-right: 20px;
}

/* Workspaces */
#workspaces {
    margin: 0 8px;
    padding: 12px 8px;
    min-height: 0;
    transition: all 0.3s ease-in-out;
}

#workspaces button {
    color: transparent;
    background: linear-gradient(90deg, @grey0 0%, @bg1 100%);
    transition: all 0.3s ease-in-out;
    min-height: 0;
    min-width: 36px;
    margin: 3px 2px;
    border-radius: 9999px;
}

#workspaces button.active {
    background: linear-gradient(90deg, @blue 0%, @purple 100%);
    color: transparent;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
    border-radius: 9999px;
    min-width: 80px;
}

#workspaces button:hover {
    background: linear-gradient(90deg, @purple 0%, @blue 100%);
    color: transparent;
    border-radius: 16px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
    background-color: @red;
    color: transparent;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

/* Modules */
#battery,
#network,
#pulseaudio,
#custom-microphone,
#custom-notification,
#custom-power {
    margin: 0 2px;
    padding: 0 16px;
    font-size: 16px;
}

#clock {
    color: @blue;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    padding: 0px 8px;
}

#custom-media {
    color: @aqua;
    margin: 0 12px;
    padding: 0 16px;
    font-size: 14px;
}

/* Module Colors */
#custom-microphone {
    color: @yellow;
}

#custom-microphone.muted {
    color: @red;
}

#pulseaudio {
    color: @yellow;
}

#custom-power {
    color: @orange;
}

#battery {
    color: @green;
}

#network {
    color: @purple;
}

#custom-notification {
    color: @blue;
}

/* Volume Slider */
#pulseaudio-slider {
    padding: 0 8px;
    margin: 0;
}

#pulseaudio-slider slider {
    border-radius: 2px;
    background: @grey0;
}

#pulseaudio-slider trough {
    min-width: 100px;
    min-height: 6px;
    border-radius: 3px;
    background: @bg2;
}

#pulseaudio-slider highlight {
    border-radius: 3px;
    background: @yellow;
}
