configuration{
    show-icons: true;
    display-drun: " ";
    display-run: " ";
    display-window: " ";
    drun-display-format: "{icon} {name}";
    drun-launch-command: "uwsm app -- {cmd}";
}
@theme "themes/material-you.rasi"
