configuration{
    show-icons: true;
    display-drun: " ";
    display-run: " ";
    display-window: " ";
    drun-display-format: "{icon} {name}";
    drun-launch-command: "uwsm app -- {cmd}";
    matching: "normal";
    drun-match-fields: "name";
}
@theme "../themes/current/theme/rofi.rasi"
