@define-color background-color #1f1f28;
@define-color border-color #dcd7ba;
@define-color label #dcd7ba;
@define-color image #dcd7ba;
@define-color progress #dcd7ba;


/* Main SwayOSD styling */
window {
    border-radius: 0;
    opacity: 1.0;
    border: 2px solid @border-color;
    background-color: rgba(31, 31, 40, 0.7);
}

label {
    font-family: 'JetBrainsMono Nerd Font Propo', sans-serif;
    font-size: 11pt;
    color: @label;
}

image {
    color: @image;
}

progressbar {
    border-radius: 0;
}

progress {
    background-color: @progress;
}
