@define-color background-color #2d353b;
@define-color border-color #d3c6aa;
@define-color label #d3c6aa;
@define-color image #d3c6aa;
@define-color progress #d3c6aa;


/* Main SwayOSD styling */
window {
    border-radius: 0;
    opacity: 1.0;
    border: 2px solid @border-color;
    background-color: rgba(45, 53, 59, 0.7);
}

label {
    font-family: 'JetBrainsMono Nerd Font Propo', sans-serif;
    font-size: 11pt;
    color: @label;
}

image {
    color: @image;
}

progressbar {
    border-radius: 0;
}

progress {
    background-color: @progress;
}
